doctype html
html
  head
    title Pet K

    link(rel='stylesheet' href='css/style.css?_=3')
  body
    h1 Pet K (drag in circles on K. try to fill the circle without shattering!)
    #gaem
      canvas#game(width=960 height=540)
    p#attribution.
      Pet K was made by #[a.bird(href='https://twitter.com/stawbewwi') stawbewwi], with art by #[a.bird(href='https://twitter.com/amorororos') amorororos] - #[a#help-link(href) Restart Tutorial]

  script(src='https://code.jquery.com/jquery-2.2.0.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/barn/0.2.0/barn.min.js')
  script(src='https://code.createjs.com/createjs-2015.11.26.min.js')
  script(src='js/script.js?_=3')
