doctype html
html
  head
    title Pet K

    link(rel='stylesheet' href='css/style.css')
  body
    h1 Pet K (click and drag on K)
    #gaem
      canvas#game(width=960 height=540)
      #xp
      #hp
      #lvmp
        span#lv 0
        = ' - '
        span#mp 0
    p#attribution.
      Dedicated to #[a.bird(href='https://twitter.com/amorororos') amorororos], who drew a cute catgirl for Cutie Clicker that I never got around to implementing.

  script(src='https://code.jquery.com/jquery-2.2.0.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/barn/0.2.0/barn.min.js')
  script(src='https://code.createjs.com/createjs-2015.11.26.min.js')
  script(src='js/script.js')
